.containerR{
    display: flex;
    gap:10px;
    align-items: center;
    justify-content: center;
}

.idInput{
    width: 20%;
    font-size: 15pt;
    border-radius: 7px;
    border-color: rgb(207, 207, 207);
}